.container
  margin: 0 auto
  background-color: #2C2C2C
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.5))
  .containerContent
    margin: 0 auto

.container-medium
  max-width: 1000px
  .containerName
    font-style: normal
    font-weight: 500
    font-size: 40px
    line-height: 60px
    text-align: center
    background-color: #1F1F1F

.container-small
  max-width: 500px
  position: relative
  margin-top: 122px
  min-height: 0
  padding: 30px
  .containerName
    margin-top: 27px
    font-weight: 600
    font-size: 32px
    line-height: 48px

.containerLogo
  width: 155px

.xIcon
  position: absolute
  top: 20px
  right: 20px
