.headerGrid
  color: orange
  background: #18223E
  color: white
  max-width: 107%
  margin: 0 auto
  display: grid
  grid-template-columns: 28% 60% 12% 
  font-size: 25px
  max-height: 7%
  font-weight: 500px
  align-items: center


.pictureElement
  padding-top: 3%
  max-height: 50%
  max-width: 60%
  grid-template-columns: min-content auto min-content
  cursor: pointer



.menuElementGrid
  display: grid
  grid-template-columns:  14% 14% 14% 14%
  grid-column-gap: 7%

.menuElementGridButton:hover
  color: orange  
  cursor: pointer



.loginContainer
  display: grid
  justify-content: right
  padding-right: 20%

.menuElementGridLogin:hover
  color: orange
  cursor: pointer
  

