.headerGrid
  color: orange
  background: #18223E
  color: white
  max-width: 1600px
  margin: 0 auto
  display: grid
  grid-template-columns: 420px 900px 180px
  font-size: 25px
  height: 85px
  font-weight: 500px
  align-items: center






.menuElementGrid
  display: grid
  grid-template-columns: 124px 140px 120px 80px
  grid-column-gap: 70px

.menuElementGridButton:hover
  color: orange  
  cursor: pointer



.loginContainer
  display: grid
  justify-content: right

.menuElementGridLogin:hover
  color: orange
  cursor: pointer
  

