.rectangle
  display: grid
  margin: 20px
  grid-template-columns: 60% 40% 
  margin: 20px
  max-width: 1080px
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.5))
  background: linear-gradient(-90deg, #304478 43.23%, #152B62 63.54%, #162754 84.9%) 


.textHalf
  padding-top: 10%
  display: grid
  grid-template-columns: 100% 
  padding-right: 4%
  padding-left: 4%
  padding-bottom: 7%
  
.header1
  font-size: 30px
  margin-top: 11%
  color: #9EBC9F
.header2
  font-size: 50px
  padding-top: 8%
  padding-bottom: 10%

.titleImage
  display: grid
  grid-template-columns: 50% 50%
  grid-column-end: 2 

.image10
  height: 100%
  width: 100%

.unitImag
  display: grid
  height: 75%
  margin-right: 0
  margin-left: 57%

.buttonsContainer
  display: grid
  grid-template-columns: 50% 50%

.paragraph
  padding-bottom: 6%

.but1
  font-size: 14px
  background-color: #E47220
  max-width: 40%
  padding-left: 12%
  padding-top: 2%
  border-radius: 5px
  margin-left: 50%
  filter: drop-shadow(0px 8px 10px rgba(48, 79, 254, 0.14)) drop-shadow(0px 3px 14px rgba(48, 79, 254, 0.12)) drop-shadow(0px 4px 5px rgba(48, 79, 254, 0.2))

.but2
  font-size: 14px
  background-color: #E47220
  max-width: 40%
  padding-left: 12%
  padding-top: 2%
  border-radius: 5px
  filter: drop-shadow(0px 8px 10px rgba(48, 79, 254, 0.14)) drop-shadow(0px 3px 14px rgba(48, 79, 254, 0.12)) drop-shadow(0px 4px 5px rgba(48, 79, 254, 0.2))

.but1:hover
  cursor: pointer

.but2:hover
  cursor: pointer


