.scrnShotBox
    height: 100%
    background-color: black
    padding-bottom: 4%
    padding-top: 2%
    text-align: center

.ssbTitle
    color: orange
    font-size: 50px

.screenshotContainer
    margin-top: 3%   

.centerImage    
  position: absolute
  width: 800px
  height: 400px
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  z-index: 3

.leftInImage
    position: absolute
    z-index: 2
    margin-left: 4%
    margin-left: 13%
    height: 320px
    margin-top: 2%  
    width: 640px
.leftOutImage
    position: absolute 
    z-index: 1
    margin-bottom: 80%
    margin-top: 4%
    margin-left: 9% 
    width: 480px
    height: 240px

.rightInImage
    position: absolute   
    z-index: 2  
    margin-top: 2%
    margin-left: 45%
    height: 320px
    width: 640px
.rightOutImage                  
    position: absolute
    z-index: 1
    margin-top: 4%
    margin-left: 60%
    width: 480px
    height: 240px

.bruh
    margin-top: 40%
    display: grid 
    grid-template-columns: max-content 2% 2% 2% 2% 2% auto max-content
    margin-left: auto
    margin-right: auto
    right: 0
    left: 0
    
.dotIndic
    margin-top: 40%
    margin-left: 40%

.dotIndic:hover
    cursor: pointer

.leftSlider
    cursor: pointer    
.rightSlider
    cursor: pointer     