
@use "../abstracts/variables"

$imageName: Infantry, Mech, Recon, APC, Artillery, Tank, Anti-Air, Missile, Rocket, MdTank, PipeRunner, NeoTank, MegaTank

$countryName: orangeStar, blueMoon

.gameBox
  display: grid
  position: relative
  padding: 0
  margin: 0
  grid-template-columns: auto max-content auto
  text-align: center
  align-items: start
  align-content: center
  justify-items: center
  justify-content: center
  button
    cursor: pointer
    background-color: variables.$color-primary
    color: black
    padding: 0.5em
    font-size: 24px
    font-weight: 500
    transition: 0.4s
    &:hover
      background-color: variables.$color-primary-variant
      color: black


  // our main grid where we have our map tiles
  .mapGrid
    display: grid
    margin: 0
    border: 1em solid #333b54
    // our individual tiles

    .mapTile
      width: 100%
      background-color: #bfdd33
      aspect-ratio: 1
      position: relative
      &:hover
        .tileCursor
          display: block


      .tileMenu
        display: grid
        grid-template-columns: 1fr
        gap: 4px
        text-align: left
        background: rgba(116, 116, 116, 0.8)
        border: 2px solid rgba(59, 59, 59, 0.8)
        z-index: 10
        position: absolute
        top: 0
        left: 100%
        .menuName
          background-color: #d3d3d3
          cursor: pointer
          font-size: 14px
          padding: 0 6px

          display: inline-block
        .menuOptions
          padding: 0 6px
          background-color: #d3d3d3
          display: grid
          grid-template-columns: auto auto auto
          justify-items: left
          align-items: center
          cursor: pointer
          &:hover
            filter: contrast(1.4)

          .menuCost
            justify-self: right
            display: inline-block

            font-size: 14px
          //let our units be displayed correctly in the menu
          @each $country in $countryName
            @each $unit in $imageName
              .menu#{$country}#{$unit}
                background: url("images/units/#{$country}/#{$unit}-0.png") no-repeat
                display: inline-block
                width: 16px
                height: 16px
        .menuNoBuy
          filter: brightness(0.6)
          text-decoration: line-through
          cursor: not-allowed
          pointer-events: none




//unit HP icons
//
@for $i from 1 through 9
  .HP#{$i}Icon
    position: absolute
    right: 0px
    bottom: 0px
    width: 16px
    height: 14px
    background: url("images/UI/hp/#{$i}.png") no-repeat
    z-index: 9
    image-rendering: pixelated
    background-size: contain



.captureIcon
  position: absolute
  left: 0px
  bottom: 0px
  width: 16px
  height: 14px
  background: url("images/UI/capture.png") no-repeat
  z-index: 9
  image-rendering: pixelated
  background-size: contain


//this allows us to make units wait
.tileUnit
  position: absolute
  bottom: 0
.stateUsed

  .tileUnit
    filter: brightness(0.65)



//let our units be displayed correctly in the battlefield/grid
//@each $country in $countryName
  @each $unit in $imageName
    .#{$country}#{$unit}
      background: url("images/units/#{$country}/#{$unit}-0.png") no-repeat
      background-size: contain
      position: absolute
      z-index: 9
      bottom: 0px
      height: 32px
      width: 32px
      image-rendering: pixelated






h1
  padding: 0.5em





//.playerBoxGrid
  position: absolute
  top: 0
  left: 0px
  display: grid
  grid-template-columns: max-content max-content min-content
  justify-content: left
  justify-items: left
  z-index: 1000
  color: variables.$text-main
  gap: 4em
.playerBox
  width: 100%

  z-index: 1000

.activePlayer
  filter: brightness(1.2) contrast(1.1)
.inactivePlayer
  filter: brightness(0.8) contrast(0.7)

.gameTitle
  color: variables.$text-main
  padding: 0.25em 0

.column2
  grid-column: span 2


.column3
  grid-column: span 3