/* ==================== Variables ==================== */
// Website Color Palette as per Figma 
$color-primary: #E47220
$color-primary-variant: #9EBC9F
$color-bg: #18223E
$color-bg-variant: #304478
$blue-gradient: linear-gradient(180deg, #304478 43.23%, #152B62 63.54%, #162754 84.9%)

$transition: all 400ms ease

$container-width-lg: 1239px
$container-height-lg: 600px

// for responsiveness in the future
// $container-width-md: 86%
// $container-width-sm: 90%