.usernameContainer
  display: flex
  justify-content: space-between
  align-items: center
  width: 285px
  height: 40px
  padding: 0 5px
  h3
    font-style: normal
    font-weight: 500
    font-size: 32px
    line-height: 48px
  .userContainerIcon
    width: 32px
    height: 32px

.redCountry
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.84) 0%, #690000 100%)
  img:
    content: url("../../images/oslogo1.png")

.blueCountry
  background: linear-gradient(90deg, rgba(35, 66, 186, 0.84) 0%, #0B2070 100%)
  img:
    content: url("../../images/oslogo2.png")
  