@use 'abstracts/variables' as variables
  
.homepage
  overflow-x: hidden

.homePageBanner
  position: relative
  margin-bottom: 100px
  // @media (max-width: 550px)
  //   margin-top: 80px

@keyframes slideIn
  from 
    margin-left: 0
  to 
    margin-left: -1600px
  
.tile
  background-image: url("../images/homePageImages/backgroundMap.jpg")
  overflow: hidden
  // background-repeat: repeat-x
  margin-top: 30px
  // width: 1600px
  height: 363px

  width: 4800px
  @media (max-width: 1600px)
    width: 3200px
  @media (max-width: 550px)
    height: 300px
  animation-duration: 90s
  animation-name: slideIn
  animation-iteration-count: infinite
  animation-timing-function: linear
.charactersLined
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  bottom: -80px
  z-index: 1
  width: 100%
  max-width: 813px
  
.logo
  width: 500px
  position: absolute
  z-index: 2
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  bottom: -80px
  @media (max-width: 813px)
    width: 61%
  @media (max-width: 550px)
    width: 80%

.playNowBtn
  width: 343px
  height: 68px
  display: block
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  margin-bottom: 35px
  font-size: 3rem
  padding: 0
  @media (max-width: 813px)
    transform: scale(0.7)

.logosGrid
  display: grid
  grid-template-columns: max-content auto max-content
  grid-column-gap: 3%
  justify-content: center
  margin-bottom: 3.5%
.ghLogo:hover
  cursor: pointer
.discordLogo:hover
  cursor: pointer
.redditLogo:hover
  cursor: pointer
    
.remasteredElement
  background: rgba(0, 0, 0, 0.38)
  margin: 150px 0
  padding: 50px 10px
  @media (max-width: 800px)
    margin: 20vh 0
  .remasteredElementSubtitle
    color: variables.$color-primary-variant
    font-weight: normal
    text-align: center
    font-size: 1.75rem
    @media (max-width: 800px)
      font-size: 1.5rem
  .remasteredElementTitle
    margin: 20px 0
    line-height: 3.5rem
    text-align: center
    font-size: 3.5rem
    @media (max-width: 800px)
      margin: 10px 0
      font-size: 2.5rem
  .remasteredElementText
    text-align: center
    font-size: 1.25rem
    @media (max-width: 800px)
      font-size: 1rem

.btnContainer
  display: flex
  margin-top: 20px
  margin-bottom: 20px
  gap: 10px
  @media (max-width: 800px)
    align-items: center
    flex-direction: column

.rectangleInfoContainer
  display: flex
  flex-direction: column 

.rectangleR
  align-self: end
  
.rectangleL
  align-self: start




    




  
