
$player1-color: linear-gradient(270.04deg, rgba(0, 0, 0, 0) 0.08%, #2342BA 72.38%, #0E1A47 95.82%)
$player2-color: linear-gradient(90.04deg, rgba(0, 0, 0, 0) 0.08%, #E61F1F 79.61%, #470E0E 99.23%)


.current-player
    background: #eee
    max-width: 20%
    color: #000000
    grid-template-columns: 1

    .header
        background: #ccc
        width: 400px


         
    .header-image
        max-width: 70px


.current-player > div
     border: 1px solid black

.header > div
     border: 1px solid black    

