.mapGrid
  display: grid
  margin: 2vw 10vw
  background-color: #bfdd33

  //padding: 2vw
  .mapTile
    width: 100%

    //border: 1px solid black
    aspect-ratio: 1
  .fo
    background: url("images/mapTiles/forest.webp") no-repeat
    background-size: contain

  .mo
    background: url("images/mapTiles/mountain.webp") no-repeat
    background-size: contain

  .ri
    background: url("images/mapTiles/river.webp") no-repeat
    background-size: contain

  .ro
    background: url("images/mapTiles/road.webp") no-repeat
    background-size: contain
  .sh
    background: url("images/mapTiles/shoal.webp") no-repeat
    background-size: contain
  .ci
    background: url("images/mapTiles/city.webp") no-repeat
    background-size: contain
  .fa
    background: url("images/mapTiles/factory.gif") no-repeat
    background-size: contain






